<!DOCTYPE html>
<html>
<head>
	<title>Members</title>
</head>
<body>
<% for(i=0;i<res.length;i++) { %>
<b><%= res[i].name%></b>
<b><%= res[i].lastname%></b>
<b><%= res[i].email%></b>
<b><%= res[i].mobile%></b>
<b><%= res[i].dob%></b>
<% } %>

</body>
</html>